<nav>
    <p-menubar class="h-15! ml-75 w-[calc(100%-300px)] bg-secondary-600! border-0! rounded-none!">
        <ng-template #end>
            <p-avatar label="A" class="mr-2" size="normal" shape="circle" />
        </ng-template>
    </p-menubar>
    <p-drawer 
        [visible]="visible()"
        styleClass="!w-75 z-0 !shadow-none border-0! bg-surface-0!"
        [style]="{'border-inline-end-width': '0px'}"
        [modal]="false" 
        [closable]="false" 
        [motionOptions]="{disabled: true}"
        [autoZIndex]="false"
    >
    <ng-template #headless class="border-">
        <div class="w-full h-37.5 bg-secondary-600! mb-0.5"></div>
        <div class="overflow-y-auto">
            <ul>

                @for( link of ['home', 'users', 'products']; track $index;){
                <li>
                    <a pRipple 
                        [routerLink]="link" 
                        routerLinkActive="bg-secondary-600 text-white hover:bg-secondary-600!"
                        class="flex items-center cursor-pointer p-3 pl-6 hover:bg-secondary-100 duration-150 transition-colors p-ripple border-b-2 border-surface-100"
                    >{{ link | titlecase }}</a>
                </li>
                }
            </ul>
        </div>
    </ng-template>
    </p-drawer>
</nav>
<main class="pl-75 overflow-y-auto h-[calc(100vh-60px)] p-4">
    <ng-content></ng-content>
</main>
