/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "tailwindcss-primeui";
@import "primeicons/primeicons.css";

@theme {
  --color-secondary-50: #e8f0fb;
  --color-secondary-100: #d1e1f7;
  --color-secondary-200: #a3c3ef;
  --color-secondary-300: #75a5e7;
  --color-secondary-400: #4787df;
  --color-secondary-500: #1969d7;
  --color-secondary-600: #184ca7;
  --color-secondary-700: #12397d;
  --color-secondary-800: #0c2654;
  --color-secondary-900: #06132a;
  --color-secondary-950: #030a15;
}



body {
    background-color: var(--p-surface-200);
}